<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Громадськi проекти</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/static/app.css">


    <script language="javascript" type="text/javascript">
      // Formatting for big numbers
      function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      highlightedProjectsList = [
        'https://gb.kievcity.gov.ua/projects/show/573',
        'https://gb.kievcity.gov.ua/projects/show/486',
        'https://gb.kievcity.gov.ua/projects/show/344',
        'https://gb.kievcity.gov.ua/projects/show/424',
        'https://gb.kievcity.gov.ua/projects/show/336'
      ]

      var ws = new WebSocket('ws://' + window.location.host + '/ws');
      ws.onmessage = function(event) {
        $('#projects-list').empty()
        var projects = JSON.parse(event.data)
        var sumBudget = 0
        var cardClass = 'card green lighten-5'

        for (var i = 0; i < projects.length; i++) {
          // Check for 50 million UAH limit to visually divide all projects before and after that limit
          sumBudget += projects[i].budget
          if (highlightedProjectsList.indexOf(projects[i].link) >= 0) {
            cardClass = 'card hoverable green accent-3'
          } else if (sumBudget <= 50000000) {
            cardClass = 'card hoverable green lighten-5'
          } else {
            cardClass = 'card hoverable blue-grey lighten-5'
          }

          var column = $('<div>', {class: 'col-sm-12 col-md-4'});
          var card = $('<div>', {class: cardClass});
          var card_content = $('<div>', {class: 'card-content black-text'});

          var title = $('<div>', {class: 'title'}).text(projects[i].title);
          var description = $('<div>', {class: 'fixed-height-description'});
          description.append('<p>'+ projects[i].description +'</p><br>')
          description.append('<p><b>Бюджет</b>: ' + numberWithCommas(projects[i].budget) + ' грн</p>')
          description.append('<p><b>Район</b>: ' + projects[i].district+ '</p>')
          description.append('<p><b>Автор</b>: ' + projects[i].author + '</p>')

          card_content.append(title)
          card_content.append('<hr>')
          card_content.append(description)

          var card_action = $('<div>', {class: 'card-action'});
          card_action.append($('<a>', {class: 'blue-text darken-4-text',
                                       href: projects[i].link,
                                       target: "_blank"}).text('Голосовать ('+ projects[i].votes +')'))

          card.append(card_content)
          card.append(card_action)
          column.append(card)
          $('#projects-list').append(column)
        }
      };

    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <img src="https://gb.kievcity.gov.ua/assets/app/img/logo.svg" alt="Logo" style="color:white;" />
      </div>
    </header>
    <div class="container" id="projects-list"></div>
  </body>
</html>